[2021-03-15 10:43] mahnouman opened #1 "Assemble the completed pieced of the solution as a Kubernetes setup"
The Golang based project consists of the following pieces:
Check Readme file: https://github.com/k8-proxy/go-k8s-infra/blob/main/README.md

What we need is to assemble a Kubernetes setup out of those and also adding components which are not specifically written in Golang, those will be:
- MinIO Server, follow instructions from: MinIO from : https://github.com/k8-proxy/vmware-scripts/blob/minio/pac

[2021-03-16 10:19] mahnouman opened #2 "Solution diagram"
Use diagrams.net to recreate this file, please upload to the repo both a PNG and the XML (.drawio) files of the diagram:
![image (8)](https://user-images.githubusercontent.com/5932628/111293156-a2660500-8651-11eb-9ea1-1b1fdc40d2e5.png)

We will use the recreated version as a baseline to modify further.

[2021-04-02 11:52] #2 closed

[2021-04-02 17:11] himanshu2464 opened #21 "minio connection issues between pods ."
the process to reproduce:
follow the instruction to setup .
https://github.com/k8-proxy/vmware-scripts/blob/minio/packer/target/icap-server/setup.sh

clone https://github.com/k8-proxy/go-k8s-infra/tree/azopat-tmp

and once the services and minio and all is setup.
check the logs of minio pods

kubectl logs -f minio-ss-0-0 -n minio

API: SYSTEM()
Time: 17:05:32 UTC 04/02/2021
Error: lookup minio-ss-

[2021-04-05 12:25] azopat commented on #21
@himanshu2464  please try to use this procedure - https://github.com/minio/charts#minio-legacy-docs and deploy minio in another namespace in that machine.
If it works then we will switch to it (instead of using the operator).
Once deployed please check if you can create a bucket etc

[2021-04-05 13:04] himanshu2464 commented on #21
okay, I will deploy it.

[2021-04-05 14:49] himanshu2464 commented on #21
the logs of the service is not getting an proper minio endpoint  with minio operator.

root@ip-172-31-45-230:~/go-k8s-infra/services# kubectl logs -f srv1-998ddddd9-2wrcl -n icap-adaptation
2021/04/05 14:41:17 [*] Waiting for messages. To exit press CTRL+C
2021/04/05 14:45:45 Received a message for file: 26d89551-69c2-4cbd-8182-8521c12e7f60
Get "http://minio-endpoint.minio.svc.cluster.local:9000/s

[2021-04-05 18:55] himanshu2464 commented on #21
after deploying the standalone minio with helm charts, and configure the service to use this standalone minio endpoint, it works successfully.

[2021-04-06 11:51] himanshu2464 commented on #21
https://github.com/k8-proxy/go-k8s-infra/tree/himanshu-tmp
this is the PR.

Done.

[2021-04-06 13:17] #21 closed

[2021-04-06 15:16] mahnouman opened #25 "Compliant Kubernetes"
We need to assemble the setup into the [Compliant Kubernetes](https://github.com/k8-proxy/k8s-compliant-kubernetes), please investigate and figure out what it would take for this to work.

Please check how the cloud SDK team followed the same:
https://github.com/k8-proxy/k8s-compliant-kubernetes/blob/main/.github/workflows/complaint-k8s-CloudSDK.yaml

[2021-04-07 08:54] #1 closed

[2021-04-08 09:44] mahnouman opened #28 "Test and adjust the code to test the new Process pod"
Please do the following changes:
Only GW repos and dockerhub is referenced or placeholders, but not personal repositories.
Please test the process pod code currently in the develop branch.
Make sure the process pod kills itself after a it process a file and that controller is starting a new process pod right away.

[2021-04-11 09:51] mahnouman commented on #28
Hello @ibrahimk9000 please work with @himanshu2464 to trace the issue we faces in the demo session.

[2021-04-11 09:55] mahnouman opened #29 "Migrate AMI build script to this repo: go-k8s-infra"
Currently the Github Action which is building the AMI image of the solution is hosted here:
https://github.com/k8-proxy/GW-Releases/blob/minio/.github/workflows/icap-server.yaml

Please migrate that to this repo and mention the secrets that is needed to be created for a successful test.

[2021-04-13 17:19] himanshu2464 commented on #28
the issues are identified and the fix is applied, and now the file is been processed and getting a response.
Done!

[2021-04-13 17:20] himanshu2464 commented on #28
the issues are identified and the fix is applied, and now the file is been processed and getting a response.
Done!

[2021-04-14 11:59] mahnouman opened #31 "Create AMI with the updated process pod"
Create an AMI image with the updated process pod found here:
https://github.com/k8-proxy/go-k8s-process/tree/v0.2.0

[2021-04-14 13:05] mahnouman opened #32 "Add cloud SDK to the AMI build"
Add the [cloud SDK](https://github.com/k8-proxy/cs-k8s-api), into the AMI build so a sample can be submitted to the system by either using the ICAP server or Web API. This introduction should consider using the new processing pod.

[2021-04-14 13:07] mahnouman commented on #32
Hello:
@azopat please introduce this to the production AMI you are creating.
@himanshu2464 please try to introduce this into the built from scratch setup that you are working on.
Feel free to work together when needed.

[2021-04-14 13:08] #28 closed

[2021-04-15 08:56] mahnouman opened #34 "Replace personal repos with the official one"
Please scan through the repo and replace the personal references like dockerhub or forks with the official ones, in case an official substitue is not around, please add a placeholder and mention here in the repo, this is applicable to the develop branch, list of official dockerhub repos is:
https://hub.docker.com/repository/docker/k8serviceaccount/go-k8s-process
https://hub.docker.com/repository/d

[2021-04-16 13:32] #31 closed

[2021-04-16 13:40] #29 closed

[2021-04-16 13:45] mahnouman opened #36 "Document AMI building process"
Please add the following information to the readme file of this repository:

1. Add a link to the existing AMI in a table.
2. Provide much details into how to recreate AMI, referencing YAML file.
3. Add as much comments to the YAML file producing the AMI as possible.
4. Make sure no personal repositories are used either in documentation of the actual code. the branch of interest in this repository

[2021-04-20 11:55] mahnouman opened #39 "Testing with jMeter"
Stress test the new setup using:
https://github.com/k8-proxy/aws-jmeter-test-engine

[2021-04-26 11:17] mahnouman commented on #32
@azopat ,,, please mention the new AMI in the readme file, thanks

[2021-04-26 11:23] mahnouman opened #43 "Integrate reports into the solution"
With the introduction of the API, there is a possibility for the xml reports to be downloaded from using an API endpoint. The following AMI contains the solution with API built in: ami-0874e365dfffd43d0

[2021-04-28 19:05] mahnouman opened #47 "Add Docker build test to all repos"
Add a github action test that will try to build the docker image for all the repos of the project: controller, process, srv1, srv2, srv,

[2021-05-03 12:00] mahnouman opened #50 "Jaeger integration"
Integration of Jaeger, so we have some visualizations and able to detect issues.

[2021-05-04 08:01] mahnouman opened #52 "Revert back changes of services/values.yaml"
As a result of PR #51 ,,, services/values.yaml has been changed maybe for testing or similar, this is an issue to remember to return it back.

[2021-05-06 12:18] GINAGC commented on #25
this was already done by Samarth, closing for now.

[2021-05-06 12:18] #25 closed

[2021-05-06 12:19] GINAGC commented on #39
not needed anymore

[2021-05-06 12:19] #39 closed

[2021-05-07 10:54] kekesimarti opened #56 "Kubernetes dashboard"
- We need a service that returns configuration information from the server
- The endpoint that gives live stats of the server

[2021-05-07 11:10] kekesimarti opened #57 "Providing information about if a file failed to process because of a specific error or it is not processable by nature"
Providing information about if a file failed to process because of a specific error or it is not processable by nature

[2021-05-07 14:04] ibrahimk9000 commented on #57
the changes will be in the go-k8s-process repo ,  maybe you can add this  issue to go-k8s-process too

[2021-05-09 14:00] mahnouman opened #59 "Add unit tests to projects repos"
Please go through the project repos all except srv1 and srv2, so the rest would be: srv , process and controller, add unit testing , give priority to repos with no unit tests at all.
Please update here and on Slack when submitting a PR.

Thank you

[2021-05-09 14:00] mahnouman opened #60 "Add unit tests"
Please go through the project repos all except srv1 and srv2, so the rest would be: srv , process and controller, add unit testing , give priority to repos with no unit tests at all.
Please update here and on Slack when submitting a PR.

Thank you

[2021-05-11 19:02] mahnouman opened #61 "Integrate Jaeger into the Kubernetes setup"
Currently Jaeger is being integrated into: srv1, srv2 and process , switch to "jaeger" branch to see the code. We need to:
1. Add the additional environment variables for these three services. env - JAEGER_AGENT_HOST=<jaeger-agent-host>  - JAEGER_AGENT_PORT=6831
2. Add an additional pod to act as the Jaeger instrument host, example code when running in docker below:
     jaeger-agent:
    containe

[2021-05-12 06:30] #32 closed

[2021-05-13 11:27] himanshu2464 commented on #61
deploy jaeger-agent and all component as deployment and Service on setup and passing the env Variable in service .

[2021-05-13 11:50] himanshu2464 commented on #61
dockerbuild is failing for go-k8s-process from branch jaeger

 ---> 5d73489d2559
Step 13/25 : COPY --from=builder /go/src/github.com/k8-proxy/go-k8s-process/sdk-rebuild-eval/libs/rebuild/linux/libglasswall.classic.so /usr/lib/libglasswall.classic.so
COPY failed: stat go/src/github.com/k8-proxy/go-k8s-process/sdk-rebuild-eval/libs/rebuild/linux/libglasswall.classic.so: file does not exist

[2021-05-13 20:37] himanshu2464 commented on #61
with jaeger-agent setup with branch jaeger, i am able to process the file and also i am getting the file back.

![image](https://user-images.githubusercontent.com/45463238/118184532-16a60480-b459-11eb-9d7c-1be40cc2652d.png)

[2021-05-14 19:54] himanshu2464 commented on #61
@mahnouman
I tested it and it is working well.
should I update the helm charts deployment and add jaeger in the deployment.

[2021-05-15 23:32] azopat commented on #36
This is done

[2021-05-15 23:32] azopat commented on #52
This is done

[2021-05-16 19:38] mahnouman commented on #61
Hi @himanshu2464 yes please do, thanks.

[2021-05-17 11:39] mahnouman opened #65 "Test the recent setup in develop branch"
Please switch to the develop branch of infra, srv,  process and develop and test that the setup is still intact, we changed alot recently with those and need to make sure all is good before migrating these changes into main branch for each, changes in process and srv are adding the function of reporting if a file was cleaned, already clean or unprocessable, please test function wise that this is w

[2021-05-17 17:10] samarthdd opened #66 "High error rate on performance testing"
10 % of files getting failed on every performance test run

The error is

fail: Glasswall.CloudProxy.Api.Controllers.RebuildController[0]
   [Web Application]:: Error Processing Timeout 'input' f9d5ac1e-626c-4a69-b012-8364adde060b exceeded 600s
   System.OperationCanceledException: The operation was canceled.

![image](https://user-images.githubusercontent.com/64204445/118529334-08a9f980-b761-11eb

[2021-05-17 18:11] #52 closed

[2021-05-17 18:12] GINAGC commented on #36
@mahnouman please confirm if this can be closed or someone else will test it.

[2021-05-18 09:01] mahnouman commented on #36
Hello @GINAGC we can close it for now. We will revisit when the guys are creating a new workflow

[2021-05-18 09:01] #36 closed

[2021-05-18 09:37] mahnouman opened #67 "Set the number of default concurrent processing pods to 20"
Change the default number of processing pods to 20 from the old value of 5. These values can be overridden anyway by an environment variable.

[2021-05-18 09:44] mahnouman commented on #66
@himanshu2464 @haitham911 Can Jaeger give us a clue here about where it got stuck?

[2021-05-18 10:33] haitham911 commented on #66
We can trace operations by jaeger .and see where the request fails

[2021-05-18 13:49] himanshu2464 commented on #67
I tested it by changing pod_count to 20 and all 20 pods of the process are running and the file is also processed.

![image](https://user-images.githubusercontent.com/45463238/118662713-d904fb00-b80d-11eb-99be-84c9ca504b81.png)

=================================================================================

![image](https://user-images.githubusercontent.com/45463238/118662903-ff2a9b00-b80d-11eb

[2021-05-18 14:21] himanshu2464 commented on #66
yes we can trace operation , logs, event by jaeger and see where the request failed with information.

[2021-05-19 09:01] azopat commented on #65
Hi @mahnouman  tested and it didn't work.
Here is logs from srv
----
2021/05/19 08:24:17 Waiting for messages
{"level":"info","time":"2021-05-19T08:58:20Z","message":"adaptation request consumer  received message from queue "}
{"level":"info","fileID":"89b7ce01-6fd1-4d55-99c9-c7c7517ea256","rebuilt-file-location":"/var/source/89b7ce01-6fd1-4d55-99c9-c7c7517ea256","source-file-location":"/var/targe

[2021-05-19 09:02] azopat commented on #65
and here are logs from rebuild pod
Closing GlassWall library...
Exiting with 0
SUCCESS
{"level":"error","error":"open /tmp/glrebuild/ZtVWoeIonvUfwbSU/output/NonConforming/89b7ce01-6fd1-4d55-99c9-c7c7517ea256: no such file or directory","time":"2021-05-19T08:58:20Z","message":"processed file not found"}
{"level":"error","error":"open /tmp/glrebuild/ZtVWoeIonvUfwbSU/output/NonConforming/89b7ce01-6fd

[2021-05-19 09:40] mahnouman opened #68 "Testing with Folder2Folder (F2F)"
Implementation of a workflow where with a new release, we can trigger the workflow to test the full solution using the F2F setup as a test tool, reading the output of it, and save the results somewhere. Once we past this first phase we can work on enhancing the setup so it compare results to a previous run and so.

The F2F setup is here:
https://github.com/filetrust/cdr-plugin-folder-to-folder

**

[2021-05-19 10:03] mahnouman commented on #65
@ibrahimk9000 please check the logs

[2021-05-19 10:08] ibrahimk9000 commented on #65
2021/05/19 08:58:20 rebuild status is : SDK EXPIRED

[2021-05-19 11:07] samarthdd opened #69 "Metadata json not exist for file"
This error found when testing in cdr f2f

{"errors":["Metadata json not exist for file d58906ac-7247-4b5e-a3f2-8846609f9c58"]}

[2021-05-19 11:13] #43 closed

[2021-05-19 11:16] GINAGC commented on #60
duplicated with #59

[2021-05-19 11:16] #60 closed

[2021-05-19 11:18] GINAGC commented on #47
this is done

[2021-05-19 11:18] #47 closed

[2021-05-19 12:47] himanshu2464 opened #70 "File build Process error ."
While testing Jaeger implementation, those errors are apparent, maybe related to code changes in order to fit in Jaeger:

root@ip-172-31-4-220:~/go-k8s-infra/services# kubectl logs -f srv-96b8bdd7-f7952 -n icap-adaptation
2021/05/19 12:11:57 Waiting for messages
jaeger.jaeger.svc.cluster.local:6831
{"level":"info","time":"2021-05-19T12:13:14Z","message":"adaptation request consumer  received messa

[2021-05-19 12:53] mahnouman commented on #68
@himanshu2464 please start with a manual run of that, then we scriptify it next.

[2021-05-19 13:09] GINAGC commented on #34
this is done

[2021-05-19 13:09] #34 closed

[2021-05-19 15:06] samarthdd commented on #69
in path
cs-k8s-api/Source/Service/Controllers/AnalyseController.cs

[2021-05-19 23:56] haitham911 commented on #70
i try to fix error i got the same error Headers value is nil
and you can see in  the file uploaded to minio this error
Stack Limit=8388608, Operating Stack Limit=7549747
Licence checking is enabled
isDllInValidPeriod: CurrentDate[21139] dllDate[21098] DaysValid[30]
[FAILURE_LOG_GWALLLIB_2479032927] Zero day licence has expired

[2021-05-20 16:16] #70 closed

[2021-05-21 09:13] samarthdd commented on #69
@ibrahimk9000

[2021-05-24 18:25] mahnouman opened #72 "compare text and metadata pod"
Develop a single use pod that can:
Compare the text and metadata from the original and CDRed files, and tell if the text of the file has been manipulated and upload results into minio.

Reference projects:
https://tika.apache.org/
https://github.com/apache/tika-docker

An additional value if possible to be investigates is to check if a file like pdf had active content (i.e. Macros or similar) and

[2021-05-24 18:28] mahnouman opened #73 "ClamAV hot pod"
Similar to https://github.com/k8-proxy/go-k8s-infra/issues/72
But instead of sending the files to compare text, it is for sending the file to be AV scanned.

Reference project:
https://github.com/UKHomeOffice/docker-clamav

[2021-05-27 22:28] haitham911 commented on #72
I fished tika pod
in this repo https://github.com/k8-proxy/go-k8s-metadata
and now we can get metadat for source file ,and clean file
and compare between the string. finally upload files to minio

[2021-05-28 12:27] #67 closed

[2021-05-31 15:00] samarthdd opened #80 "file-outcome header is not coming. here are the logs of GW Cloud SDK"
![image](https://user-images.githubusercontent.com/64204445/120211864-0068b880-c24f-11eb-9812-43c239815c70.png)
![image](https://user-images.githubusercontent.com/64204445/120211954-0fe80180-c24f-11eb-9b04-ed1ec26def8b.png)

[2021-06-01 08:11] samarthdd commented on #69
This is fixed in new AMI

[2021-06-01 08:21] #69 closed

[2021-06-01 16:37] Lestat06 commented on #50
This is confirmed

![image](https://user-images.githubusercontent.com/6232283/120359808-6402ec80-c308-11eb-88c4-7d67a7f66229.png)
![image](https://user-images.githubusercontent.com/6232283/120359755-58172a80-c308-11eb-8008-f2a85642c505.png)

[2021-06-01 17:28] GINAGC commented on #80
@samarthdd is this still an issue?

[2021-06-01 19:55] samarthdd commented on #61
This is working on port 9001

[2021-06-01 19:56] samarthdd commented on #50
Yes this is working as expected

[2021-06-01 19:58] samarthdd commented on #61
Tested with new jaeger AMI  and its working

![image](https://user-images.githubusercontent.com/64204445/120382909-d80db680-c341-11eb-9f90-3aaa7e1dc459.png)

![image](https://user-images.githubusercontent.com/64204445/120382935-e0fe8800-c341-11eb-9883-9ea99010cfae.png)

[2021-06-01 22:52] Lestat06 commented on #61
@GINAGC this is ok

[2021-06-02 04:36] GINAGC commented on #61
Thank you, moved to release.

[2021-06-03 15:02] samarthdd opened #83 "timeout error"
HTTPConnectionPool(host=,port=8080): Readtimed out. (read timeout=600)"

This can be replicated using cdr f2f plugin

Setup cdr f2f and set go-sdk-jeager IP

Run with 10 or 25 threads

<img width="1436" alt="Screenshot 2021-06-03 at 8 26 44 PM" src="https://user-images.githubusercontent.com/64204445/120666947-a401d500-c4aa-11eb-85d7-b7334342c8ce.png">

Here out of 16 failed files , 12 are valid fi

[2021-06-04 15:58] samarthdd opened #84 "GW_UNPROCESSED for few files"
Reference : https://github.com/k8-proxy/cs-k8s-api/issues/110

GW Unprocessed is happening only in minio version but its not throwing in classic version for same files

{"errors":[],"status":"GW_UNPROCESSED","rebuildProcessingStatus":"UNPROCESSABLE"}

[2021-06-07 13:53] mahnouman opened #85 "RabbitMQ communication"
Insuring that there is a proper connection handling and recovery for RabitMQ by all the communicating pods

[2021-06-07 14:06] mahnouman opened #86 "Kubernetes dashboard"
To facilitate developers testing, please add Kubernetes dashboard into the setup.

[2021-06-07 14:08] mahnouman opened #87 "minio and rabbitmq UI exposure"
Please add to the readme file, what the developers need to do in order to expose minio and rabbitmq web UIs to the outside world, thanks

[2021-06-15 15:45] GINAGC opened #90 "Improve architecture diagram to include Cloud SDK and Core SDK"
- See diagram: https://github.com/k8-proxy/go-k8s-infra/blob/main/diagram/cs-api-data-flow-diagram.jpg (editable version is also there):

Some updates needed:
1.- Process the file needs to be renamed to "Core SDK"
2.-The CS API section should be renamed to Cloud SDK and somehow add a color background or highlight that are as cloud SDK.
3.- The service source and processing service need a highlight

[2021-06-15 17:53] mahnouman commented on #68
Hi @azopat please advise once you are comfortable using F2F in testing, thanks.

[2021-06-16 18:00] #50 closed

[2021-06-16 18:00] #61 closed

[2021-06-17 12:31] GINAGC commented on #66
@samarthdd please retest this with the latest minio.

[2021-06-17 12:32] GINAGC commented on #84
Blocked by https://github.com/filetrust/sdk-rebuild-eval/issues/8

[2021-06-17 12:40] #72 closed

[2021-06-17 12:40] GINAGC commented on #72
this is not relevant, https://github.com/k8-proxy/go-k8s-metadata is now moved to glacier.

[2021-06-17 12:49] GINAGC opened #92 "POD health"

[2021-06-17 12:50] GINAGC opened #93 "Control deployment"

[2021-06-17 12:53] GINAGC commented on #83
@samarthdd please retest.

[2021-06-17 12:55] GINAGC opened #94 "Services exposure updates"
**Service** **Name** **PortNumber** **credentials**

- RabbitMq UI 15672 shared in private
- Minio 9000 shared in private
- jaeger 9001 shared in private
- K8s dashboard 9090 token base need to generate each time.
- Rest Api 80 no need
- icap-server 1344 no need

[2021-06-17 12:56] GINAGC opened #95 "https://github.com/k8-proxy/go-k8s-infra/issues/87"

[2021-06-17 15:50] GINAGC opened #96 "Tune Kubernetes setup for t2.2xlarge instances"

[2021-06-18 19:22] himanshu2464 commented on #87
@mahnouman
I had a fix so that developer will not have to do anything to expose the minio and rabbitmq, I will add that in the deployment script.
will send an PR for this fix.

[2021-06-21 12:22] himanshu2464 commented on #86
this is done and completed. and opening the dashboard on port number 9090 of the machine.

[2021-06-21 15:06] mahnouman opened #97 "Adding minimum and recommended disk size"

[2021-06-22 05:41] naderaly commented on #68
@mahnouman on testing the latest AMI https://github.com/filetrust/cdr-plugin-folder-to-folder/actions/runs/957895174
I faced an error trying to load cloud sdk IPs from AWS
![image](https://user-images.githubusercontent.com/58347752/122869676-e5a8d180-d32c-11eb-994a-dee074d9a3e4.png)

[2021-06-22 05:49] naderaly commented on #68
Tho I've tested an earlier AMI which worked as mentioned in docs here https://filetrust.github.io/cdr-plugin-folder-to-folder/docs/0.-introduction/ .
One more thing to mention there are some points/links in the documentation needs to be re reviewed for example the first 2 video links [here](https://filetrust.github.io/cdr-plugin-folder-to-folder/docs/6.-how-to-start/) point to the same video, who

[2021-06-22 08:35] MaNe2020 commented on #68
@naderaly yes me. We are in process of creating new UI, once that is ready I will include new videos and will probably remove the ones in question for now.
Pls let me know if you encountered any other issue or you feel some info is missing.

[2021-06-22 11:59] GINAGC commented on #66
I am closing this one, since it is fixed on latest release.

[2021-06-22 11:59] #66 closed

[2021-06-22 12:00] GINAGC commented on #80
@Lestat06 please confirm if we can close.

[2021-06-22 12:01] GINAGC commented on #83
this is not an issue.

[2021-06-22 12:01] #83 closed

[2021-06-22 14:09] samarthdd commented on #80
This is fixed

I was involved in troubleshootig and later this was fixed by Patrick

[2021-06-22 14:27] Lestat06 commented on #80
@GINAGC yes tested also on postman and from pod logs

[2021-06-22 15:08] #80 closed

[2021-06-23 00:39] naderaly commented on #68
@mahnouman , I processed 1000 file and those are the stats.
![image](https://user-images.githubusercontent.com/58347752/123016517-13445800-d3cb-11eb-8630-21b4f1fd3f33.png)
@MaNe2020 I faced a problem on trying to set IP manually to test specific icap server it keeps using the servers set in the auto scaling group which uses an old AMI , any idea how can I reslove this ?

[2021-06-23 07:27] himanshu2464 commented on #87
this is done.
expose service as load balance
rabbitmq UI port : 15672
minio port: 9000
jaeger port: 9001

and working correctly in new build ami from develop branch.

[2021-06-23 08:27] himanshu2464 opened #98 "seems when we delete the release of service it will remove pod-controller and service but only rebuild pod count is not deleting."

[2021-06-23 12:32] GINAGC commented on #87
@himanshu2464 please link the respective PRs on this issue. Thanks

[2021-06-23 13:58] naderaly commented on #68
@mahnouman issue with choosing specific server to test has be resolved thanks to @MaNe2020.
Here's the status of a 1000 file run on an go based icap server
![image](https://user-images.githubusercontent.com/58347752/123109779-cea4d500-d43b-11eb-902b-b4d9e8160f75.png)

[2021-06-25 10:16] mahnouman commented on #59
@azopat please try to add unit tests for the controller repo/.

[2021-06-25 11:20] himanshu2464 commented on #96
this is completed and posted the new build AMIs after applying the fix.
and had also updated the readme file for services and port exposes.
Done.

[2021-06-25 11:27] himanshu2464 commented on #87
@GINAGC for this I have directly updated the deployment script in the vmware-script repo in develop branch, after changing the rabbitmq charts with the following PR.
https://github.com/k8-proxy/icap-infrastructure/pull/79.

[2021-06-25 12:47] GINAGC commented on #87
@naderaly please validate and document this. Thank you

[2021-06-25 12:49] GINAGC commented on #96
@Lestat06, @samarthdd to test with the latest AMIs on develop and validate that no manual config steps are needed after deployment.

[2021-06-25 12:49] GINAGC commented on #86
@naderaly please validate and document this. Thank you

[2021-06-25 13:33] Lestat06 commented on #96
yes this is automated now.

[2021-06-27 23:33] naderaly commented on #86
@GINAGC this is validated and added to readme in this PR
https://github.com/k8-proxy/go-k8s-infra/pull/102

[2021-06-27 23:34] naderaly commented on #87
@GINAGC this is validated and added to readme in this PR
https://github.com/k8-proxy/go-k8s-infra/pull/102

I've a question regarding filedrop secret/access keys tho where I asked @himanshu2464 about and will add the details when I have answer

[2021-06-28 07:15] luker-GW opened #103 "Analysis runs - Out of memory / Times out"
NCSC testing of glasswall found that small files can lead to our analysis failing, because the documents contain many words and pages and therefore cause our engine to consume large amounts of memory.

<br/>

The corporate filedrop can't complete the analysis on a file because it's either running out of memory or the web app is timing out as teh analysis seems to be taking too long. We should ensu

[2021-06-28 07:16] luker-GW opened #104 "Securely handle Secrets across multiple clusters using industry standard practices"
As an InfoSec manageer or IT Administrator I expect Glasswall to implment recognised secrets management patterns for the handling and propogation of secrets in a open-architecture.

<br/>

Clusters should be able to validate secrets from a central location so that administrators are not expected to manually change values that need to be shared with N number of dependent entities.

[2021-06-28 07:18] #95 closed

[2021-06-28 09:13] mahnouman opened #105 "Establish baseline for the 10k files sample"
Same like what we did with the 1K files sample, we need to establish a baseline for the 10k files sample, testing using F2F, please keep the rest of parameters the same.

[2021-06-28 09:15] himanshu2464 commented on #105
setting that will be applied
API : pods count to 5
rabbitmq : CPU from100m to 300m
and rebuild pod_count : 30

[2021-06-28 09:26] mahnouman opened #106 "Testing with client other than F2F"
Just to cross check F2F results, please test with another client, maybe Jmeter, we should be able to send 70 concurrent connections in parallel using the same 1000 files sample.

[2021-06-28 09:34] mahnouman opened #107 "tune for 100 concurrent connections"
Tune the setup further to support 100 concurrent connections, all the other parameters should stay the same while testing, instance type and sample set

[2021-06-29 15:09] GINAGC commented on #103
Sample files added: https://drive.google.com/drive/folders/1J3_qbOVPfkI57SawB9dhIiuyDjfd32_T?usp=sharing

@mohitsengarr, @mahnouman please try one of the sample files and share your initial thoughts on this issue.

[2021-06-29 18:52] mahnouman commented on #92
@GINAGC looks like a duplicate of #56

[2021-06-30 12:12] GINAGC commented on #104
Option to review: https://www.vaultproject.io/docs/secrets

[2021-06-30 12:21] GINAGC commented on #94
@himanshu2464 can you share the details of the work done on this topic so far?

[2021-06-30 13:04] samarthdd commented on #87
This is fixed

[2021-06-30 13:06] samarthdd commented on #86
This is fixed

![Uploading Screenshot 2021-06-30 at 6.35.39 PM.png…]()

[2021-06-30 13:31] GINAGC opened #108 "Initial research on securely handle Secrets"
Hi Nader, see EPIC https://github.com/k8-proxy/go-k8s-infra/issues/104, we are looking for a solution on secret management for all platforms that we support (AWS, ESXi, GCP and Azure is the next one).

Please start by:
- See options in channel: cloud-sdk-secrets
- review this option too: https://www.vaultproject.io/docs/secrets

We would like to start doing some research on the possible options an

[2021-06-30 13:33] GINAGC commented on #108
fyi @mahnouman

[2021-06-30 14:05] GINAGC commented on #92
@mahnouman yes, this is a subtask of #56

[2021-06-30 17:18] Lestat06 opened #109 "ZIP with files with issues inside returns status 200"
endpoints that accept and rebuild ZIP should not return status 200 in case inside the zip file are files that are not processable or with issues.
In classic endpoint return a zip with all clean files + an error.html file instead of the file with issue (status 207)
In Minio endpoint returns a zip with all the cleaned files - the file with issue. (status 200)

we need to include an error report insi

[2021-07-01 03:38] GINAGC commented on #109
@mahnouman who can take this one?

[2021-07-01 09:35] mahnouman opened #110 "Document an issue where the rebuild pod that complete it task are not getting delete"
Please create an issue documenting your observation that the rebuild pod that complete it task are not getting delete. Please add as much details as possible to help whom it will be assigned to investigate it further.

[2021-07-01 13:08] mahnouman opened #113 "QA AMIs verification"
Please verify that the AMIs that were generated for the purpose of QA:
eu-west-1: ami-0032c8e14bb875aa6
eu-west-2: ami-08f812577486e3b2a
eu-west-3: ami-01ecdfb3a2e4e266a
us-east-1: ami-040a0df16a83da3e8
us-east-2: ami-09b1f38763735821c
us-west-1: ami-0952aa07f94a14c7f

Have identical configuration to an AMI that will be generated from the pipeline main:
https://github.com/k8-proxy/GW-Releases/acti

[2021-07-02 10:41] mahnouman commented on #113
Not required any longer

[2021-07-02 10:41] #113 closed

[2021-07-02 10:43] Lestat06 opened #114 "mpg files passes as file_type_not_supported"
video mpg file passes as not supported, while in classic sdk it passes as file-needs-no-modifications. however the file itself passed in hd3 with all the cleaned files. file with `name: metaxas-keller-Bell_63.9MB.mpg` is on slack.

[2021-07-02 12:15] Lestat06 opened #115 "100-160mb file fails to rebuild do to timeout:600"
this shouldn't be an issue in minio since it is supposed to be faster

[2021-07-02 12:56] GINAGC commented on #115
@Lestat06 does this happens all the time?

[2021-07-02 13:12] Lestat06 commented on #115
yes this happen because file takes more than 10 min to process

[2021-07-02 14:11] mohitsengarr commented on #103
@GINAGC I have given a test on these two files.
1. [LargeFile.docx](https://drive.google.com/file/d/1TuyXDbWezW0kW17SuWNNJROxjOiS7AAI/view?usp=sharing)
2. [LargeFile.docm](https://drive.google.com/file/d/1y3sWeHPworsXBxM5x0V8zo1-r1kw5ut2/view?usp=sharing)

I have not encountered the Times Out error neither from `minio-icap` nor `classic` one. However, there are different output from both version.

[2021-07-02 16:42] naderaly opened #116 "Multi rebuild pods launched for a single file rebuilt"
To replicate the issue:
1- run f2f with 1 thread by time
2- check dashboard

![image](https://user-images.githubusercontent.com/58347752/124305180-07902880-db65-11eb-8738-ac9a922e1f89.png)

[2021-07-02 20:19] Lestat06 opened #117 "PDF file fails with error 400 : INTERNAL_ERROR"
this file can be processed in classic sdk and in running locally with docker
[20090707-WAF-v0.1.pdf](https://github.com/k8-proxy/go-k8s-infra/files/6756756/20090707-WAF-v0.1.pdf)

Marking as P2 since so far is 1 PDF.

[2021-07-04 20:08] Lestat06 opened #118 "Cant access the services in their ports in Kompliant CK8s golang"
the below services cant be accesed in ck8s version of golang
RabbitMQ UI | 15672
Minio | 9000
jaeger | 9001
Kubernetes Dashboard | 9090

[2021-07-05 09:50] himanshu2464 commented on #110
when we execute the f2f test with 100 threads or 50threads, on the API  for 1000 files, the rebuild pods are getting deleted on the spot after completing the task, it took little time to get terminated. and after completion of the test rebuild pods count should be the same as the pods count that we have defined. For example, we have a default pod count = 25 so after completion of the test with 100

[2021-07-05 11:36] mahnouman commented on #110
@himanshu2464 please open a new issue, with the details, screenshots, preproduction steps and so on.. please explain this: but instead, it is not.
Like is it higher or lower, fixed number or so

Please do so in a new issue.

[2021-07-05 12:02] Lestat06 opened #119 "instance is running with 1 rebuild-api pod in ck8s-golang"
there should be 4 rebuild-api pods running in golang version
u can check this by ssh into the machine and run `kubectl get pods -n icap-adaptation`

![image](https://user-images.githubusercontent.com/6232283/124468037-eadc3680-dd98-11eb-960d-e745dc9e2dea.png)

[2021-07-05 12:03] GINAGC opened #120 "Review CK8s deployment for golang to understand failed files"

[2021-07-05 12:57] himanshu2464 commented on #110
instead, it is a higher number instead of a 25 pod count that is the default.

[2021-07-05 13:58] himanshu2464 opened #121 "after complication of the f2f, pods counts of rebuild pods should be same as it is define in deployment but instead it is higher number."

[2021-07-05 13:59] himanshu2464 commented on #121
when we execute the f2f test with 100 threads or 50threads, on the API for 1000 files, the rebuild pods are getting deleted on the spot after completing the task, it took little time to get terminated. and after completion of the test rebuild pods count should be the same as the pods count that we have defined. For example, we have a default pod count = 25 so after completion of the test with 100

[2021-07-05 14:01] naderaly commented on #119
@GINAGC Issue fixed in the server provided by @Lestat06 by editing the deployment and configuring the correct cpu/memory limits and also the replica count.
but I don't know if this is already added to the process of building the AMI

[2021-07-05 14:01] naderaly commented on #119
![image](https://user-images.githubusercontent.com/58347752/124483124-47941d00-ddaa-11eb-9840-9393597259e5.png)

[2021-07-05 14:13] himanshu2464 commented on #98
so when we update the service with the following command
helm upgrade servicesv2 --install. --namespace icap-adaptation
it should delete the rebuild-pods as well, but instead, it is not deleting rebuild-pod.
we have to manually delete the rebuild-pods.

[2021-07-05 15:24] himanshu2464 commented on #121
![image](https://user-images.githubusercontent.com/45463238/124493177-f3e9f980-ddd2-11eb-94da-2baaf16bd1d6.png)
run test with 50 threads and it is completed and still i see the rebuild-pods to 40 instead it should be 25 .
![image](https://user-images.githubusercontent.com/45463238/124493334-21cf3e00-ddd3-11eb-90be-e13ebffff3d2.png)

[2021-07-05 17:31] naderaly commented on #119
- Login to server and switch to root user

**sudo su -**

- change directory and clone **go-k8s-infra** repo
**cd /home/ubuntu; git clone https://github.com/k8-proxy/go-k8s-infra.git**
**cd go-k8s-infra/services/**

- Delete servicesv2
**helm delete servicesv2 -n icap-adaptation**

- Delete all rebuild pods
**kubectl get pods -n icap-adaptation | grep rebuild-pod | cut -d' ' -f 1 | xargs kubectl d

[2021-07-05 17:37] naderaly commented on #119
@GINAGC

[2021-07-05 20:10] himanshu2464 commented on #94
yes following services are expose and here is the list.

Service Name      PortNumber                     credentials
1) RabbitMq UI         15672                     shared in private
2) Minio                     9000                      shared in private
3) jaeger                    9001                      shared in private
4) K8s dashboard      9090                      token base need to ge

[2021-07-06 11:46] haitham911 commented on #117
its work in my local machine and i test it in Kubernetes  i found that cli that rebuild file  end with
 error unknown exit status code : 137,
![2021-07-05 16_52_47-Jaeger UI](https://user-images.githubusercontent.com/10202798/124594663-5d641980-de60-11eb-9815-4914d86ba0ae.png)
this problem of pod resources memory

[2021-07-06 11:59] GINAGC opened #122 "Support production SDK"
- Add production SDK to the minio version.  https://github.com/k8-proxy/go-k8s-process

[2021-07-06 12:11] Lestat06 opened #123 "rebuild-pods dont get deleted"
the rebuild-pod that complete the task should be deleted immediately which is not, hence the rebuild pod number increases.

you can replicate by running the instance in f2f with big amount of files scenarios like govUk(aprox 10k files).
u will se that after 6k files the the rebuild process struggles. because of the pods.

![image](https://user-images.githubusercontent.com/6232283/124597499-de70e00

[2021-07-06 12:52] GINAGC commented on #119
@Lestat06 to validate once that we have new AMIs, since Pranay has automated the steps above.

[2021-07-06 14:14] GINAGC commented on #118
@Lestat06 to retest with new deployment

[2021-07-06 14:22] #86 closed

[2021-07-06 14:22] #87 closed

[2021-07-06 14:22] #96 closed

[2021-07-06 14:22] #90 closed

[2021-07-06 15:30] azopat commented on #116
@naderaly  @mahnouman  i checked but couldn't reproduce the problem. It worked well for me
@naderaly  do you have it all the time ?

[2021-07-06 16:07] GINAGC commented on #123
@mahnouman who can review this one?

[2021-07-06 16:15] GINAGC commented on #115
@mahnouman who can review this one?

[2021-07-07 01:28] naderaly commented on #116
@azopat happened with me , mahmoud & @Lestat06 also , lets arrange a meeting tomorrow trying to reproduce it

[2021-07-07 02:19] naderaly commented on #120
@himanshu2464  @Lestat06 None of Minio, Jaeger, RabbitMQ or K8Dash are accessible in ck8s deployment is this intended as a security measure?
FYI @GINAGC , other than that the failed files issue was resolved in this issue https://github.com/k8-proxy/go-k8s-infra/issues/119#issuecomment-874732603

[2021-07-07 04:50] GINAGC commented on #120
@mahnouman please confirm the above.

[2021-07-07 06:33] mahnouman commented on #123
@GINAGC assigned to @haitham911

[2021-07-07 06:34] mahnouman commented on #123
NOTE: possible duplicate of https://github.com/k8-proxy/go-k8s-infra/issues/121

[2021-07-07 06:38] mahnouman commented on #123
NOTE: Possible cause is the lately introduced Burstable configuration

[2021-07-07 06:44] mahnouman commented on #120
Hello @GINAGC @naderaly those services: Minio, Jaeger, RabbitMQ or K8Dash, the exposure of them is not intended for production, they are for development and debugging, so it makes sense not to expose them in compliant Kubernetes version, though I am not sure that was by design of compliant Kubernetes

[2021-07-07 06:44] mahnouman commented on #123
NOTE: possible duplicate of https://github.com/k8-proxy/go-k8s-infra/issues/116

[2021-07-07 06:45] mahnouman commented on #116
Work on this issue would be on https://github.com/k8-proxy/go-k8s-infra/issues/123

[2021-07-07 06:46] mahnouman commented on #121
Work on this issue would be on https://github.com/k8-proxy/go-k8s-infra/issues/123

[2021-07-07 06:46] GINAGC commented on #120
Ok, then let's review this in our meeting today.

[2021-07-07 06:48] mahnouman commented on #115
@GINAGC possibly linked to the other defects, that we need to fix first then check if this issue still, mainly #123

[2021-07-07 08:07] Lestat06 commented on #119
this is fixed in the new deployment and automated. 4 rebuild-apis are there
![image](https://user-images.githubusercontent.com/6232283/124722457-5c87c200-df0a-11eb-8562-638befd04cf0.png)

[2021-07-07 09:16] Lestat06 commented on #118
services still cannt be accessed

[2021-07-07 09:56] himanshu2464 commented on #123
and we should limit the pod's counts like for example if we are running the 50 threads, then only 50 rebuild pods should be there, not more than that.

[2021-07-07 12:08] himanshu2464 commented on #97
minimum & recommended disk size to be 40 GB.

[2021-07-07 12:16] himanshu2464 commented on #97
this is because when we hit the server for processing files with 50 threads the currently 20GB size is utilized like 90% so need to increase it to 35 GB.

[2021-07-07 18:38] #119 closed

[2021-07-08 11:59] GINAGC commented on #123
Workaround:
when this pods failed to launch container due to ip not able to assign and IP pool get full perform following thing to make the k3s back and responsive.

- run the following with root user by sudo su
- cd /var/lib/cni/networks
-  systemctl stop k3s
- systemctl stop containerd
- mv cbr0/ cbr0.bak
- mkdir cbr0
- systemctl start containerd
- systemctl start k3s
- mkdir -p ~/.kube && sudo

[2021-07-08 14:22] mahnouman commented on #123
Issue moved to [k8-proxy/go-k8s-controller #35](https://github.com/k8-proxy/go-k8s-controller/issues/35) via [**ZenHub**](https://www.zenhub.com/)

[2021-07-08 17:11] GINAGC commented on #114
@ibrahimk9000 how this issue is going?

[2021-07-08 17:56] GINAGC commented on #118
@naderaly can you research on this? was this in purpose to not expose these services?

[2021-07-08 18:02] GINAGC commented on #114
@ibrahimk9000 to update on the latest findings on this one.

[2021-07-08 18:56] ibrahimk9000 commented on #114
this issue is related to the kubernete resources configuration  , i tested the mpg file in the docker setup in my local machine and it works as expected

[2021-07-08 22:00] mohitsengarr commented on #109
@GINAGC please assign this to go-Minio team.

[2021-07-09 09:34] GINAGC commented on #114
@himanshu2464 can you take a look to this?

[2021-07-09 09:36] GINAGC commented on #109
@mohitsengarr we would like that you give a first pass and comment on what is the problem.

[2021-07-09 09:43] mohitsengarr commented on #109
@GINAGC problem is minio is not having `ErrorReport.html` in the zip in case of any zip files is failed to process. While classic version does. So, minio needs to add `ErrorReport.html` in the returned zip.

[2021-07-09 09:47] GINAGC commented on #109
ok, then I will check with @mahnouman to assign this.

[2021-07-09 19:09] himanshu2464 commented on #114
@ibrahimk9000 can you please provide me the file in order to test.

[2021-07-09 19:57] himanshu2464 commented on #114
@ibrahimk9000 @GINAGC
the  files that Ibrahim send to me that mpg and it is successfully rebuild

![image](https://user-images.githubusercontent.com/45463238/125129963-ce842500-e11d-11eb-835f-25654e9ffc97.png)

![image](https://user-images.githubusercontent.com/45463238/125130032-ecea2080-e11d-11eb-8bf2-37eeca41b657.png)

[2021-07-12 11:37] GINAGC opened #125 "Logs of deleted pods"

[2021-07-12 15:01] GINAGC commented on #114
@Lestat06 please review this.

[2021-07-12 18:18] Lestat06 commented on #114
@himanshu2464 please try the IP with scenario jp-test that u have in ur f2f vm and u will see the issue

[2021-07-13 07:12] naderaly commented on #108
Initial Findings posted in slack : https://glasswall-solutions.slack.com/archives/C023L60PTNH/p1626160333012000

[2021-07-13 09:31] mahnouman commented on #84
Updated https://github.com/k8-proxy/go-k8s-process submodule to version 1.263, that submodule version is the one supposed to contain a fix for this issue.

[2021-07-13 09:52] mahnouman commented on #84
@himanshu2464 please test with the new AMIs:
https://github.com/k8-proxy/GW-Releases/actions/runs/1026045009

[2021-07-13 10:00] himanshu2464 commented on #114
@Lestat06  if it is processable with Api directly then it should also work with f2f as well.

let me test it with F2F as well today.

[2021-07-13 12:20] himanshu2464 opened #126 "F2F is broken it is giving error when configuring the endpoint"
when we do the configuration of IP in F2F and swagger for endpoint it is giving the following error.

![image](https://user-images.githubusercontent.com/45463238/125450680-f64ffc9f-a1d0-43e3-8f84-8a1562abdd25.png)

![image](https://user-images.githubusercontent.com/45463238/125450739-ad91dccd-d35c-48f5-8886-21d92d564782.png)

this happens with the AMI we build from develop branch.

[2021-07-13 23:58] azopat commented on #125
Hello @GINAGC ,
I investigated it, as i was saying during the call, there is a log file where container logs are written.
All container logs are in /var/log/containers folder.
e.g :
ubuntu@glasswall:~$ ls /var/log/containers/
adaptation-icap-adaptation-event-api-7468b48cf4-xw2sj_icap-adaptation_icap-adaptation-8acf57feb9490ebad6d5bad9e84c9147ba6f7e39893ecf543668300567088e75.log
adaptation-icap-ada

[2021-07-14 12:18] himanshu2464 commented on #122
@GINAGC @mahnouman here is the PR

https://github.com/k8-proxy/go-k8s-process/pull/112 .

kindly review and merge it .

[2021-07-14 14:55] azopat commented on #125
hi @GINAGC
I can confirm that all the logs are available on kibana Even when the pod is deleted. I checked for the pod
rebuild-pod-6a966a70-595e-41ee-a24b-3f7b0fd8d773
Which is now already deleted on server, but it's logs will always be on kibana
<img width="1320" alt="Screen Shot 2021-07-14 at 16 51 07" src="https://user-images.githubusercontent.com/1093436/125643640-3f338754-5d2a-4bc0-9a82-6d635

[2021-07-14 16:24] GINAGC commented on #116
Closing with https://github.com/k8-proxy/go-k8s-controller/issues/35

[2021-07-14 16:24] #116 closed

[2021-07-14 16:25] GINAGC commented on #121
Closing with https://github.com/k8-proxy/go-k8s-controller/issues/35

[2021-07-14 16:25] #121 closed

[2021-07-14 16:26] GINAGC commented on #125
@azopat to add kibana on K3.

[2021-07-14 16:37] #110 closed

[2021-07-14 16:38] GINAGC commented on #97
@himanshu2464 is this already in readme file the information above?

[2021-07-14 16:43] GINAGC commented on #107
wont be done for now.

[2021-07-14 16:43] #107 closed

[2021-07-14 16:46] GINAGC commented on #120
Closing task

[2021-07-14 16:46] #120 closed

[2021-07-14 16:46] GINAGC commented on #118
this is duplicated

[2021-07-14 16:46] #118 closed

[2021-07-14 16:48] GINAGC commented on #85
Communication is not causing issues at the moment.

[2021-07-14 16:51] GINAGC commented on #115
we need to retest on the upcoming release.

[2021-07-14 16:52] GINAGC commented on #126
closing as duplicated https://github.com/filetrust/cdr-plugin-folder-to-folder-bugs/issues/71

[2021-07-14 16:52] #126 closed

[2021-07-14 16:56] mahnouman opened #129 "Add SDK into the Infra repo"
Include SDK here:
https://github.com/k8-proxy/go-k8s-infra/blob/main/services/values.yaml

[2021-07-14 16:57] GINAGC commented on #129
For Patrick.

[2021-07-15 13:15] himanshu2464 commented on #114
@Lestat06 I got the problem the issue was the memory limit issues in the processing pod.
so in order to fix this, I updated the helm charts of go-k8s-infra with the environment variable PROCESS_POD_MEMORY_LIMIT
the limit was 500Mi and I change the limit to 1000Mi so that it will not run out of the resource.

@GINAGC @Lestat06 @mahnouman  i will generate a PR with this variable in Helm charts so th

[2021-07-15 19:23] himanshu2464 commented on #114
@GINAGC @mahnouman
this is the PR for the fix.
https://github.com/k8-proxy/go-k8s-infra/pull/130

[2021-07-16 07:21] #56 closed

[2021-07-16 07:22] #85 closed

[2021-07-16 07:49] #68 closed

[2021-07-16 07:53] #92 closed

[2021-07-16 07:53] #93 closed

[2021-07-16 07:53] #106 closed

[2021-07-16 11:07] mahnouman opened #131 "MinIO multi-threading"
Just a placeholder to enable the MinIO multi-threading so we a processing pod can upload its files in parallel, same behavior should exist when downloading from srv.

[2021-07-16 11:30] himanshu2464 opened #132 "INTERNAL_ERROR while procesing some files in jp-test scenario in F2F."
{"errors":[],"status":"GW_FAILED","rebuildProcessingStatus":"INTERNAL_ERROR"} and
{"errors":[],"status":"GW_UNPROCESSED","rebuildProcessingStatus":"UNPROCESSABLE"}

I am getting this error while processing the jp-test scenario and for 5 files i am getting this error.

sdkEngineVersion : 1.157
sdkApiVersion : v0.6.0

[2021-07-16 12:10] mahnouman opened #133 "Expanding K3s single node cluster to 2-nodes"
Currently there is a limitation on the maximum number of processing pods that we can have in a single node because of the default Kubernetes maximum pods of 110. A solution to try out is to create a new node of the same cluster. This new node should contain processing pods and whatever is necessary to manage them, so a controller maybe. But it should not contain minio or rabbitmq pods but rather u

[2021-07-17 16:37] haitham911 opened #134 "minio-errors"
when I test using f2f  to send file to CDR-platform ,the minio get down and when it restart the process failed with this error
{"level":"error","error":"error uploading file from minio : The specified bucket does not exist","time":"2021-07-17T10:54:34Z","message":"error adaptationRequest consumer Failed to process message"}
we need when minio restart did not lose files and bucket that on its storg

[2021-07-18 14:14] Lestat06 commented on #114
This one I cant test from develop branch due to Incident we have. will have to wait till is merged or incident fixed.
INC https://github.com/filetrust/cdr-plugin-folder-to-folder-bugs/issues/71

[2021-07-18 20:21] naderaly commented on #133
@mahnouman @GINAGC
I've resolved the issue by increasing single node max pods, (I left increasing the numbers of nodes as second option as it will add a lot of networking configuration overhead)
So before when running: **kubectl describe nodes glasswall**
![image](https://user-images.githubusercontent.com/58347752/126080969-6a2cf6c1-ef85-4413-888d-445c53387d5f.png)

but now with the new AMI after

[2021-07-18 20:22] naderaly commented on #133
and btw the 250 value is configurable

[2021-07-18 20:48] naderaly commented on #133
NOTE: Using an on-disk config file, we can set only subset of the Kubelet's configuration parameters, that we want to override, all other Kubelet configuration values are left at their built-in defaults, unless overridden by flags.

[2021-07-19 09:19] mahnouman commented on #133
@naderaly thank you, but we will still want to try out the multi-node cluster

[2021-07-19 19:02] himanshu2464 commented on #134
buckets and all data in buckets get lost because minio deployment does not have persistence storage.
so here is the PR with minio deployment with persistence storage .

https://github.com/k8-proxy/vmware-scripts/pull/160

[2021-07-20 11:57] Lestat06 commented on #114
this is fixed now in develop-golang. files get treated as file-needs-no-modification
![image](https://user-images.githubusercontent.com/6232283/126319746-ae806448-19af-4da5-bbf7-dec64012f5c1.png)
![image](https://user-images.githubusercontent.com/6232283/126319821-06542c2c-e40f-4d3e-89a2-8c39cff12d63.png)

[2021-07-21 18:16] #114 closed

[2021-07-21 20:33] ibrahimk9000 commented on #109
@GINAGC
can you move this issue to k8-porcess

[2021-07-21 20:33] #109 closed

[2021-07-21 20:33] GINAGC commented on #109
Issue moved to [k8-proxy/go-k8s-process #121](https://github.com/k8-proxy/go-k8s-process/issues/121) via [**ZenHub**](https://www.zenhub.com/)

[2021-07-23 18:55] Lestat06 opened #140 "PROD ami has 8 rebuild-api pods"
The new prod ami has 8 rebuild-api which some of them run out of cpu and some files fail to rebuild.

![image](https://user-images.githubusercontent.com/6232283/126828298-51bb6281-6f42-4362-aa58-2e0d56d76ec8.png)
![image](https://user-images.githubusercontent.com/6232283/126828500-e5fa5b23-6b0b-4dc9-b502-09fd7e2777d3.png)

[2021-07-25 19:13] azopat opened #142 "add rebuild pods cpu/memory request/limits config variable"
add rebuild pods cpu/memory request/limits config variables to helm chart

[2021-07-26 11:00] naderaly commented on #133
In our current deployment when we install K3s with the curl script like below, the node will be both a server and agent.
**curl -sfL https://get.k3s.io | sh -**

![image](https://user-images.githubusercontent.com/58347752/126976806-5934f522-9991-4e64-a9a6-bd4272c3af2f.png)

And since increasing the max number of pods in our single cluster node is not preferred the proposed solution to have a deplo

[2021-07-26 18:05] mahnouman opened #145 "Add instructions to run 10k files successfully"
Please add into the readme of this repo the instructions required to be able to add the 10k files, summarized as:
create an machine from the AMI
when creating the machine use EBS volume of type IO2 with 10000 IOPS
make the disk size to 50GB
run the theads 50
and rebuild pods to 25 default .

[2021-07-26 19:09] himanshu2464 commented on #97
@GINAGC  yes it is already present in the readme file and I have added instructions to run a 10k file test with f2f.
https://github.com/k8-proxy/go-k8s-infra/pull/146

[2021-07-26 19:11] himanshu2464 commented on #145
@mahnouman here is the PR with all instructions.
https://github.com/k8-proxy/go-k8s-infra/pull/146.

[2021-07-26 19:37] himanshu2464 commented on #103
this is the same issue we did the test, so there are files that need more than 8GB of ram to complete the process but we have an limit the rebuild-pod/processing-pod to use up to 1000Mi of memory. so because of that, it gives an internal error and Gw_rebuild failed error.

[2021-07-28 08:26] himanshu2464 commented on #103
@GINAGC
i tried with LargeFile.docx
![image](https://user-images.githubusercontent.com/45463238/127289943-00c6660b-2495-4e75-ad05-e641bdcc3e6a.png)

and it work after changing the memory limit to 10000Mi.

[2021-07-28 11:36] mahnouman opened #148 "Testing with 10k files and beyond"
Testing with 10k files using instructions provided by Himanshu here:
https://github.com/k8-proxy/go-k8s-infra/tree/develop
If that worked please check 30k files samples as well

[2021-07-28 13:35] GINAGC commented on #117
duplicated with https://github.com/k8-proxy/go-k8s-infra/issues/103

[2021-07-28 13:35] #117 closed

[2021-07-28 13:37] GINAGC commented on #125
@azopat what is the status of this one?

[2021-07-28 13:38] GINAGC commented on #129
@azopat any update on this one?

[2021-07-28 13:40] GINAGC commented on #97
@Lestat06 please update the wiki with the recommended deployment for cloud sdk, since we are going to use always the minio version.

[2021-07-28 13:46] GINAGC commented on #108
Closing, for now, secrets management will be reviewed as part of the BYOC project.

[2021-07-28 13:46] #108 closed

[2021-07-28 13:49] GINAGC commented on #131
not needed for now

[2021-07-28 13:49] #131 closed

[2021-07-28 13:52] GINAGC commented on #134
@naderaly please test this one with the latest release.

[2021-07-28 13:54] GINAGC opened #149 "Review time of pod creation"
Review the time that it takes to create to processing pod and the reason for that time.

[2021-07-28 13:59] GINAGC opened #150 "Updates on the queue timeouts"
Updates on the queue timeouts:

- If we have a message in the queue, and was not picked up in x time it should be removed from the queue.
- That would apply to different queues that we have
- The idea is that if I got for example a processing request message and it is there for minutes, most likely that the sender of this message like API already timed out and there is no point in processing the f

[2021-07-28 14:04] GINAGC opened #151 "Processing PODs to send more information to elastic search."
- This can be at the Cloud API

[2021-07-28 23:42] Lestat06 commented on #97
in the info below can we change the instance to t3.2xlarge? i know the cpu and ram is the same however after some readings it seems that T3 instances offer a balance of compute, memory, and network resources, and are designed to provide a baseline level of CPU performance with the ability to burst above that baseline when needed.

Instances functioning @ 100% for a 1-month period
T3.xlarge baselin

[2021-07-29 04:04] GINAGC commented on #97
@himanshu2464 please comment on Jurgen suggestion.

[2021-07-29 08:09] dtollaku commented on #97
@GINAGC after Himanshu review, can we have this info on readme, so its not lost on the issue.

[2021-07-29 10:42] GINAGC commented on #97
yes, we are also going to update on wiki @dtollaku

[2021-07-29 11:51] luker-GW opened #152 "Stability and testing work"
Template EAP EPIC

[2021-07-29 11:51] luker-GW opened #153 "Automated testing"
Automated performance testing for minio.

[2021-07-29 11:52] luker-GW opened #154 "Security review"
Template EAP EPIC

[2021-07-30 07:41] gurunathg commented on #94
Adding point:
Blocking of services is not security group level. All services listening in instances must be reviewed and any unused service should be closed at K8 level itself

[2021-07-30 08:29] mahnouman commented on #94
The idea is that for services that are needed to be exposed in order to troubleshoot, we would need to control their exposure from the system itself, maybe a Kubernetes script or similar.to turn their exposure on and off.

[2021-07-31 01:02] naderaly commented on #134
@GINAGC This is tested and confirmed data on minio are persistent , this is tested against deleting pods and also restarting minio deployment

[2021-07-31 02:47] naderaly commented on #150
This could be done by setting TTL (time to live) value by a policy to be implemented on some/all queues, for example

rabbitmqctl set_policy TTL ".*" '{"message-ttl":60000}' --apply-to queues

the example above applies a TTL for messages of 60 seconds to all queues.

So @GINAGC , who to decide the default value we should set?

[2021-08-02 08:38] mahnouman opened #156 "Readme file cleanup and update"

[2021-08-02 08:45] mahnouman opened #157 "Root cause analysis of the increase in virtual memory when sending files continously"
Possibly there is an under layer related to the increase of virtual memory when continuously submitting files, that was eased by changing the disk type, we would like to investigate what cause the increased demand in the virtual memory.

[2021-08-02 08:57] gurunathg commented on #94
https://glasswall-solutions.slack.com/archives/C0266AR35BM/p1627645679020200

[2021-08-02 11:12] GINAGC commented on #103
@himanshu2464 to validate if we can implement this increase in general to 10000Mi and the impact of this.

[2021-08-02 16:22] #134 closed

[2021-08-02 16:27] Lestat06 commented on #97
this is now added to wili

[2021-08-02 16:33] GINAGC commented on #156
@naderaly as part of this task, please also take the most relevant information and update in wiki https://k8-proxy.github.io/k8-proxy-documentation/docs/products/03-cdr%20platform/01-overview once that the repo is clean.

[2021-08-02 17:27] himanshu2464 commented on #97
@Lestat06 @dtollaku @GINAGC @mahnouman
we can use this t3instance type family, so instead of t2.2xlarge, we can use t3.2xlarge.

[2021-08-02 23:43] naderaly commented on #156
@GINAGC updated readme is posted in this PR https://github.com/k8-proxy/go-k8s-infra/pull/158 I will also update the wiki once @mahnouman review and approve the updates

[2021-08-03 13:32] naderaly commented on #156
@mahnouman https://github.com/k8-proxy/go-k8s-infra/pull/159 this is a new PR as I've discarded the old one

[2021-08-03 15:25] GINAGC commented on #94
@mahnouman, @gurunathg what are the next steps on this one?

@gurunathg for customers deployments, is this considered as part of https://github.com/k8-proxy/cs-k8s-api/issues/544?

[2021-08-03 15:28] GINAGC commented on #103
@himanshu2464, @mahnouman on this one, the product team suggests setting a limit on memory 8GB and if it fails, send the message that it fails because of the memory. They have also commented that the ultimate fix on the core team.

Can we try this please?

[2021-08-03 18:23] himanshu2464 commented on #103
@GINAGC I had already try it with 8000Mi and 10000Mi memory limit and it is working correctly, as I have already mentioned that in the above screenshot.

[2021-08-03 18:25] GINAGC commented on #103
@himanshu2464 did you also did some tests to confirm that there is not impact if we set this memory as limit? @mahnouman mentioned that more testing was needed, so please confirm.

[2021-08-03 18:38] himanshu2464 commented on #103
@GINAGC  yes I did the test, and I think there will be no impact because we are not constantly using this limit, but still, I wanted to run the 1 test, and then I will update the deployment script so that it will be present in next build.

[2021-08-03 19:09] Lestat06 commented on #115
so for this im still getting the timeout error however in the f2f log of thta file i dont see the rebuild-pod. which means that it didnt reach any pod at all, moreover this timeout error used to happen because the file would take 10 min to rebuild and then fail which now its not happening it gives timeout error after 66seconds. pic1 pic2 pic3
also this file in swagger goes over 10minutes and then

[2021-08-03 20:37] Lestat06 commented on #97
thank you Himanshu. this is now added in wiki of the worker cluster integration

![image](https://user-images.githubusercontent.com/6232283/128082669-05ea41aa-9eb8-4f03-aa1e-0437d2d57702.png)

[2021-08-04 04:28] gurunathg commented on #94
@GINAGC As agreed with the Infosec team, the hardening of exposed services will be part of CF template and Terraform. This approach will work for AMI based deliverables. For helm chart deliverables, all charts are to be reviewed and any service which is not used is to be removed

[2021-08-05 10:38] Lestat06 opened #160 "504 Gateway Time-out with file that should return "UNPROCESSABLE""
504 Gateway Time-out with 2 files which should fail but not with this error. when i run the files in swagger, one time swagger crashed on the other time it returned this response body (pic2)
in pic1 i located the file in the rebuild-api and it looks like the api is returning 'GW_UNPROCESSED' as it should
You can replicate with f2f and scenario-1000
[7300-owctd-briefing-slides.pdf7300-owctd-briefin

[2021-08-05 11:52] GINAGC commented on #160
@mahnouman please review, who can take this one?

[2021-08-05 13:30] Lestat06 opened #161 "Update the SDK-engine with the latest"
sdk engine needs to be updated with the latest from the repo since the one we have now is expired

[2021-08-05 16:12] Lestat06 commented on #160
some more information on the issue since it got replicated with zipfiles also
- zipfile with processable files inside gets rebuild and returned successfully
- zipfile with file-with-issue or unsupported type of file throws error pic1, sometimes also causes swagger to crash. the same error i get even in postman.
- when the files-with-issues are tested individually in api/rebuild/file they return "u

[2021-08-06 09:55] Lestat06 commented on #115
this might be related now with #160

[2021-08-09 12:59] himanshu2464 commented on #103
here is the PR
https://github.com/k8-proxy/go-k8s-infra/pull/169.
@GINAGC @mahnouman
kindly review and merge it.

[2021-08-09 13:28] ibrahimk9000 commented on #160
@Lestat06 @GINAGC
I test the zip files with  unprocessable  le content, and it works fine

[2021-08-09 14:13] Lestat06 opened #170 "Instance start with more than 25 rebuild-pods"
EVAL golang starts with 50 rebuild-pods
PROD golang starts with 65 rebuild-pods
However after u consume these pods and they get deleted the instance remain stable with 25 pods. and the pods dont get created again above 25.
This needs more investigation on control-pod

[2021-08-09 14:42] Lestat06 commented on #160
@ibrahimk9000 can u try with the sample files i have shared inn first comments please?
the one with the zips its not happening in the latest release

[2021-08-10 08:45] GINAGC commented on #103
Moving to QA, we wil have to re run performance test and large files issues.

[2021-08-10 13:32] Lestat06 opened #171 "Instance crashes after 4000+ files"
When you run the govUk scenario (9778 files) with single golang-ck8s server, the server fails to rebuild files after 4000+ files rebuild
u can replicate it in f2f with 50 threads
the container rebuild-pod take too long to create and the machine starts to lag a lot
![image (6)](https://user-images.githubusercontent.com/6232283/128875710-82671577-0ebe-4821-b03c-575293882848.png)
![image (5)](https:/

[2021-08-10 14:40] himanshu2464 commented on #161
this is done .
https://github.com/k8-proxy/go-k8s-process/pull/136